#root {
  height: 100%;
}

.ct-toast {
  margin-top: 15px !important;
  box-shadow: 2px 2px 3px #ececec !important;
  width: auto !important;
  display: flex !important;
  padding: 13px 33px !important;
  max-width: 400px !important;
  margin-bottom: 10px !important;
  border-radius: 30px !important;
  background: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  min-height: initial !important;
  border: 0 !important;
  opacity: 0;
}

.ct-toast:hover {
  cursor: pointer;
}

.ct-text {
  font-size: 15px !important;
}

.file-name {
  border: 1px dashed #8080805e;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
}

.cancel:hover {
  color: red;
}

.view-box {
  margin-bottom: 2rem;
}

.view-box__title {
  display: flex;
  justify-content: space-between;
}

.view-box__title-heading {
  color: grey;
}

.view-box__content {
  margin-top: 1rem;
}

.view-box__content-core {
  border: 1px dashed #8080805e;
  padding: 15px 25px;
  margin-top: 1rem;
  border-radius: 5px;
  height: 150px;
  overflow: scroll;
}
