#root {
  height: 100%;
}

.ct-toast {
  margin-top: 15px !important;
  box-shadow: 2px 2px 3px #ececec !important;
  width: auto !important;
  display: flex !important;
  padding: 13px 33px !important;
  max-width: 400px !important;
  margin-bottom: 10px !important;
  border-radius: 30px !important;
  background: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  min-height: initial !important;
  border: 0 !important;
  opacity: 0;
}

.ct-toast:hover {
  cursor: pointer;
}

.ct-text {
  font-size: 15px !important;
}

.file-name {
  border: 1px dashed #8080805e;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
}

.cancel:hover {
  color: red;
}

.view-box {
  margin-bottom: 2rem;
}

.view-box__title {
  display: flex;
  justify-content: space-between;
}

.view-box__title-heading {
  color: grey;
}

.view-box__content {
  margin-top: 1rem;
}

.view-box__content-core {
  border: 1px dashed #8080805e;
  padding: 15px 25px;
  margin-top: 1rem;
  border-radius: 5px;
  height: 150px;
  overflow: scroll;
}

.big-score {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

/* Modal styling start */
.scroll-lock {
  overflow: hidden;
}

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(11, 30, 75, 0.4);
}

.modal-content {
  margin: 1rem;
  padding: 20px;
  background: #fff;
  min-width: 500px;
  min-height: 500px;
  border-radius: 8px;
  position: relative;
  justify-self: center;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal-close {
  right: 0;
  position: absolute;
  margin-right: 20px;
}

.modal-close-icon {
}

.modal-body {
}

/* Modal styling end */
